@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Work+Sans:300,400,500&display=swap");

:root {
    --body-font: "Work Sans", sans-serif;
    --title-font: "Quicksand", sans-serif;
    --main-color: #ff8001;
    --dark-color: #292b2c;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    color: var(--dark-color);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}
a:focus {
    outline: none;
}

img {
    max-width: 100%;
}

button {
    border: 0;
    outline: none;
    border-radius: 4px;
    padding: 12px 18px;
    background-color: var(--white-color);
    font-family: var(--title-font);
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.is-black {
    background: var(--dark-color);
    color: var(--white-color);
}

.is-highlighted {
    background: var(--main-color);
    color: var(--white-color);
}

.intro {
    position: relative;
    padding: 40px 0 90px;
    background-image: url('https://images.unsplash.com/photo-1513615064207-2f5cbbe98b5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .header-link {
            font-family: var(--title-font);
            font-weight: 500;
        }
    }

    .intro-content {
        position: relative;
        margin-top: 90px;

        .intro-subtitle {
            color: var(--main-color);
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 2px;
            font-family: var(--title-font);
        }

        .intro-title {
            color: var(--white-color);
            font-family: var(--title-font);
            font-size: 42px;
            margin: 14px 0;
        }

        .intro-desc {
            color: rgba(255, 255, 255, 0.7);
            line-height: 1.6;
            margin: 0;
        }

        button {
            margin-top: 24px;
        }
    }
}

.features {
    padding: 60px 0;
    text-align: center;
    font-family: var(--title-font);

    .title {
        font-size: 32px;
    }

    .feature-list {
        display: flex;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .feature {
            flex: 1;
            padding: 30px;

            svg {
                max-width: 100px;
            }
            .feature-desc {
                font-family: var(--body-font);
                color: rgba(0, 0, 0, 0.7);
                line-height: 1.35;
            }
        }
    }
}

.info {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, #fbfbfb 56%, #f7f7f7 100%);
    
    .infobox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 80px 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            text-align: center;
        }
        
        .infobox-image {
            width: 440px;
            padding-right: 60px;

            @media screen and (max-width: 768px) {
                width: 100%;
                padding-right: 0;
                margin-bottom: 40px;
            }
        }
        .infobox-content {
            width: calc(100% - 440px);

            @media screen and (max-width: 768px) {
                width: 100%;
            }
            
            .infobox-title {
                font-family: var(--title-font);
                font-size: 32px;
                margin-top: 0;
                margin-bottom: 20px;
            }
            .infobox-desc {
                color: rgba(0, 0, 0, 0.7);
                max-width: 85%;
                line-height: 1.35;
                margin-bottom: 25px;

                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }
            }
        }
    }
}

.pricing {
    padding: 80px 0;

    .package-list {
        display: flex;
        flex-wrap: wrap;
        font-family: var(--title-font);

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .package {
            flex: 1;
            text-align: center;
            padding: 60px 20px;
            border-radius: 4px;

            &-title{
                font-size: 26px; 
                margin-top: 0;
            }

            &-price {
                font-weight: 600;
                margin-top: 0;
                margin-bottom: 35px;
                line-height: 32px;
                
                span {
                    font-size: 56px;
                    margin: 0 4px;
                    display: inline-block;
                    position: relative;
                    top: 8px;
                }
            }

            &-features {
                font-family: var(--body-font);
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;

                li:not(:first-child) {
                    margin-top: 8px;
                }
            }

            button {
                margin-top: 40px;
            }
        }
    }
}

.footer {
    padding: 20px 0;
    background: #f5f5f5;
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        .social {
            display: flex;
            
            a {
                display: inline-block;
                margin-left: 6px;
                opacity: 0.2;

                svg {
                    width: 30px;
                }
            }
        }
    }
}